body{
    overflow-x: hidden;
  }
  
  .first {
    vertical-align: middle;
    padding-left: 40px;
    width: 180px;
    height: 70px;
    border-radius: 0%;
    display: inline-block;
    line-height: 100px;
  }
  #f li a{
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  #f li a:hover{
    color:#c81717

  }
  .carousel-caption{
    top: 50%;
  }
  #paragraph{
    font-size: 60px;
    font-weight: 800;
    border:3px solid white;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 50px;

  }
  .border > img {
    border: 5px solid rgb(240, 90, 40);
  }

  #p{
    margin-top: -150px;

  }
 
  #cards{
    margin-top: 10%;
  }
  h3{
    color: #c81717;
    font-size: 40px;
    font-weight: 600;
  }
  i{
    font-size: 40px;
  }
  .buttonImage{
    margin-top: -70%;
    margin-left: -10%;
    font-size: 30px;
  }
  .shilings{
    font-size:50px;
  }
  .fa-check{
    font-size: 20px;
  }
  .response{
    height: 30vh;
    background:url("../images/pic6.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  .responseP{
    color:white;
    align:center;
    font-size: 20px;

  }
  .number{
    color:white;
    font-size: 40px;
    font-weight: 500;
  }
  .fa-phone-alt{
    font-size: 30px;
  }
  .responsePp,.name{
    color: #c81717;
  }
  .num{
    font-weight: 800;
    color: white;
  }
 .price{
   color:#00838f;
 }
